@use "./config.scss" as config;
@use "./navbar.scss";
@use "./text.scss";
@use "./media.scss";


.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: var(--navbar-height);
  padding-bottom: 2rem;
  background: var(--bg-color-back);
}
